.aboutBox {
  background-color: blue ;
  border: 10px solid black;
}

body {
  background-color: red;
}
h1 {
  color: green;
}
.navBar {
  color: blue;
  border: 5px solid green;
}
div div div div {
  color: blue;
}
.scoreBox {
  color: blue;
  border: 1px solid black;
}

.scoreSearch {
  border: 1px solid green;
}

.scoreFilter {
  border: 1px solid black;
}

.scoreList {
  border: 10px solid blue;
  background-color: white;
}

.score {
  border: 1px solid black;
}

.scoreListLength {
  border: 1px solid black;
}

.mediaBox {
  border: 1px solid black;
}
