/** JediTrainer website stylesheet
  * @author abs25, cpd5, drd26 */
body {
  background-image: url("https://i.ytimg.com/vi/voWpbz1De_M/maxresdefault.jpg");
}

/* the header and footer are not part of React or Flexbox */
header {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

footer {
    color: #fff;
    padding: 10px 0px 5px 0px;
    text-align: center;
}

.windowComponent {
  background-color: #d9d9d9;
  border-radius: 30px;
  width: 90%;
  margin: auto;
}
/* flexbox container */
.home {
  display: flex;
  /** wrap allows the boxes to form a newline if one line is full rather than jamming them all together
    * this allows the navbar to sit on top of the other three boxes */
  flex-flow: row wrap;
}

/********************/
/* NavBar component */
/********************/
.navBar {
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 95%;
  margin: auto;
  padding-top: 10px;

}

.navBar ul {
  border-radius: 3px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #6C7A7D;
  vertical-align: middle;

}
.navBar li {
  display: inline;
  font-size: 120%;
  color: #fff;
  height: 50px;
  padding: 15px 25px;
}

.navBar li:hover {
  background-color: #556063;
}

/* when the nav links are active */
.active {
  background-color: #424A4C;
  padding: 17px 0 16px 0 ;
}
/**************/
/* End navBar */
/**************/

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-size: 150%;
  padding-bottom: 10px;
}
td {
  text-align: center;
  border-top: 1px solid black;
  padding: 10px 0 10px 0;
}

/* ScoreBox Component and children */
.scoreBox {
  border-radius: 3px;
  text-align: center;
  flex: 1 38%;
  order: 2;
  /* top right bottom left */
  margin: 10px 0 10px 0;
  padding: 10px 5px 5px 10px;
  background-color: #ECFFFC;

}

/* score filter flex box */
.scoreFlexContainer {
  display: flex;
  flex-flow: row;

}

.scoreSearch {
  
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 15px;
  order: 2;

}

.scoreFilter {

  margin-right: auto;
  margin-top: auto;
  order: 1;
}
/* end score filter flex */

.scoreList {

}

.score {
}

.scoreListLength {

}

.scoreListLength a {
  text-decoration: underline;
  color: blue;
}

/* AboutBox component */
.aboutBox {
  padding: 15px;
  margin: 10px 0 0 0;
  /* This allows it to flex to one side at 25% width */
  flex: 0 2 22%;
  order: 1;
}

/* MediaBox component and children */
.mediaBox {
  padding: 15px;
  margin: 10px 0 0 0;
  /* This allows it to flex to one side at 25% width */
  flex: 0 2 22%;
  order: 3;
}

/* for smaller screens */
@media screen and (max-width: 900px){
  .home {
    /* Change the design to column so it's more scrollable */
    flex-flow: column;
  }
  /* Change the order so the scoreboard shows before the aboutBox */

  .scoreBox { order: 1; }
  .aboutBox { order: 2; }
  .mediaBox { order: 3; }

  .scoreFlexContainer {
    flex-flow: column;
  }
  .scoreSearch {
    order: 1;
    margin: 0;

  }
  .scoreFilter {
    order: 2;
    margin: 0;
  }

  .navBar li {
    padding: 15px 20px;
  }
}
