/* JediTrainer website stylesheet */
/* @author abs25, cpd5, drd26 */

body {
  background-color: pink;
}

/* NavBar component */
.navBar {
  border: 1px solid green;
}

/* ScoreBox Component and children */
.scoreBox {
  /* top right bottom left */
  margin: 10px 0 10px 0;
  border: 2px solid black;
  background-color: white;
}

.scoreSearch {
  border: 1px solid red;
}

.scoreFilter {
  border: 1px solid orange;
}

.scoreList {
  border: 1px solid blue;
}

.score {
  border: 1px solid yellow;
}

.scoreListLength {
  border: 1px solid purple;
}

/* AboutBox component */
.aboutBox {
  border: 1px solid black;
}

/* MediaBox component and children */
.mediaBox {
  margin: 10px 0 0 0;
  border: 1px solid black;
}
