/** JediTrainer website stylesheet
  * @author abs25, cpd5, drd26 */
body {
  background-color: #D9FAFF;
}

/* the header and footer are not part of React or Flexbox */
header {
  color: blue;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

footer {
    text-align: center;
}

/* flexbox container */
.home {
  display: flex;
  /** wrap allows the boxes to form a newline if one line is full rather than jamming them all together
    * this allows the navbar to sit on top of the other three boxes */
  flex-flow: row wrap;
}

/* NavBar component */
.navBar {
  border: 1px solid black;
  /*flex: flex-grow flex-shrink flex-basis (width) */
  flex: 1 0 100%;
}


/* ScoreBox Component and children */
.scoreBox {

  flex: 1 40%;
  order: 2;
  /* top right bottom left */
  margin: 10px 0 10px 0;
  padding: 5px 5px 5px 5px;
  border: 2px solid black;
  background-color: white;


}

.scoreSearch {
  border: 1px solid red;
}

.scoreFilter {
  border: 1px solid orange;
}

.scoreList {
  border: 1px solid blue;
}

.score {
  border: 1px solid yellow;
}

.scoreListLength {
  border: 1px solid purple;
}


/* AboutBox component */
.aboutBox {
  margin: 10px 0 0 0;
  /* This allows it to flex to one side at 25% width */
  flex: 0 2 25%;
  order: 1;
  border: 1px solid black;
}

/* MediaBox component and children */
.mediaBox {
  margin: 10px 0 0 0;
  border: 1px solid black;
  /* This allows it to flex to one side at 25% width */
  flex: 0 2 25%;
  order: 3;
}

/* for smaller screens */
@media screen and (max-width: 800px){
  .home {
    display: flex;
    /* Change the design to column so it's more scrollable */
    flex-flow: column;
  }
  /* Change the order so the scoreboard shows before the aboutBox */

  .scoreBox { order: 1; }
  .aboutBox { order: 2; }
  .mediaBox { order: 3; }
}
