body {
	background: url("blue-rule.png");
	font: 16px "Comic Sans MS", cursive;
}

p {
	color: #00f;
}

p:before {
	content: url("yellow-pin.png");
}

p.numbered {
	color: black;
}

h3 {
	clear: left;
}

h3.numbered {counter-reset: mynum;}

/* numbered paragraphs */
p.numbered:before {
  content: counter(mynum) ": ";
  counter-increment: mynum;
  font-weight: bold;
}

ul, #numbered {
  border: 1em solid #0cb;
  padding-right:1em;
}


li {
	list-style: lower-roman;

}

strong {
	color: #f00;
	font-size: 200%;

}

.spinach {color: #080;}

#fixed-pin {
	position: fixed;
	top: 3px;
	right: 5px;
}
#first {font-style: italic;}

/* float the two paragraphs next to each other */
#p1, #p2, #list1, #list2 {
	float: left;
}
#p2{
	margin-left: 5%;
}
#list2 {
	padding-left: 50px;
}

#part2 {
float: left;
}

/* table */
#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
    border: 2px solid #7a7;
}

#demo-table > caption {
  caption-side: bottom;
  font-style: italic;
  text-align: right;
  border-top: .4em solid #4ca;
  margin-top: .5em;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
}

#demo-table tbody th:after {
  content: ":";
}

#demo-table tbody td {
  border: 1px solid #7a7;
}


/* footer */
#demo-table tfoot {
 
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}
